.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #FFD1EC;
  width: 100vw;
  height: 100vh;
  --color1:#8B8B8B;
  --color2:#303030;

}

.Calculator{
  height: 550px;
  width: 350px;
  border-radius: 25px;
  background: #EBF3FF;
  box-shadow: 9px 9px 10px 0px #00000040,3.1718568801879883px 3.1718568801879883px 6.343713760375977px 0px #FFFFFF inset,-3.1718568801879883px -3.1718568801879883px 6.343713760375977px 0px #BFCDDD inset;
 
}

/* Rectangle 2 */
.Switch{
height: 25px;
width: 62.5px;
margin-left: 37.5px;
margin-top: 50px;
border-radius: 25px;
background: #EBF3FF;
box-shadow: inset 3px 3px 5px #BFCDDD, inset -3px -3px 5px #FFFFFF;
border-radius: 25px;
display: flex;
align-items: center;
/* justify-content: flex-start; */
transition: 0.5s;
/* border: 2px solid black; */
}
.SwitchButton{
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 0.25px solid #FFFFFF;
  box-shadow: 3px 3px 5px 0px #BFCDDD;
  background: #EBF3FF;
  transition: .3s;
  margin-left: 0%;
  /* border: 2px solid black; */
}
.switch_enanched{
  display: flex;
  /* border: 2px solid black; */
  
}
.enanched{
  /* Contrast Enhanced */

/* position: absolute; */
width: 86px;
height: 11px;
margin-left: 12.5px;
margin-top: 57px; 
/* margin:0px; */
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 11px;
/* border: 2px solid black; */

color: #8B8B8B;


}


.Screen{
  height: 50px;
  width: 275px;
  margin-top: 25px;
  margin-left: 37.5px;
  border-radius: 10px;
  background: #EBF3FF;
  box-shadow: inset 6px 6px 5px #BFCDDD, inset -6px -6px 5px #FFFFFF;
  border-radius: 10px;
  color: var(--color1);
  text-align: center;
  text-justify: center;

}

.numbersOnTheScreen{
  font-family: Helvetica;
  font-size: 47px;
  font-weight: 400;
  line-height: 57px;
  text-align: right;
  text-justify: center;
  padding: 0;
  margin: 0%;

}
.SpecialControlsContainer{
  width:200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 37.5px;
  margin-top: 25px;
}
.SpecialControls{
  height: 50px;
  width: 50px;
  border: white;
  color: var(--color1);
  font-size: 25px;
  border-radius: 25px;
  box-shadow: -6px -6px 10px 0px #FFFFFF,6px 6px 10px 0px #BFCDDD,1.5px 1.5px 2px 0px #FFFFFF inset,-1.5px -1.5px 2px 0px #DEF2D0 inset;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  background: #F3FFEB;

}

.NumerGrid{
  width: 210px;
  height: 295px;
  margin-left: 37px;
  margin-top: 15px;
  /* border: 1px solid black; */
 
}
.NumberButton{
background: #EBF3FF;
box-shadow: 6px 6px 10px #BFCDDD, -6px -6px 10px #FFFFFF, inset -1.5px -1.5px 2px #BFCDDD, inset 1.5px 1.5px 2px #FFFFFF;
border-radius: 10px;
height: 50px;
width: 50px;
border-radius: 10px;
border: 0ch;
color: var(--color1);
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
transition: .2s;
}

.NumberButton0{
  height: 50px;
  width: 123.5px;
  border-radius: 10px;
  background: #EBF3FF;
  box-shadow: 6px 6px 10px #BFCDDD, -6px -6px 10px #FFFFFF, inset -1.5px -1.5px 2px #BFCDDD, inset 1.5px 1.5px 2px #FFFFFF;
  border: 0ch;
  color: var(--color1);
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  margin-left: -10px;
  transition: .2s;
}
.Operators{
background: #FFEBF3;
box-shadow: 6px 6px 10px #BFCDDD, -6px -6px 10px #FFFFFF, inset -1.5px -1.5px 2px #F9DAE6, inset 1.5px 1.5px 2px #FFFFFF;
border-radius: 25px;
height: 50px;
width: 50px;
border: 0;
font-size: 25px;
color: var(--color1);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
transition: .2s;
}

.NumberButton:active,.Operators:active,.NumberButton0:active,.SpecialControls:active{
  box-shadow: none;
}

.OperatorsContainer{
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 50px;
  position: absolute;
  margin-left: 265px;
  margin-top: 25px;
  justify-content: space-between;
}


